.songsList {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  height: 290px;
  margin-top: 20px;
  overflow: scroll;
  width: 100%;
}

.eachSong {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.image {
  height: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 150px;
}

.songDescription {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  justify-content: center;
}
